@mixin accountstyle {
    button{
        border-radius: 2rem;
        padding: 0.6rem 1.6rem;
        background-color: transparent;
        color: white;
        font-weight: 300;
        border: none;
        
        &:hover {
            color: white;
            background-color: rgb(40, 255, 40);
            transform: scale(1.1);
        }
    }
    .account__grid {
        display: grid;
        grid-template-columns: 20% 80% ;
        background-color:#202040 ;
        height: auto;
        width: auto;
        border-radius: 1rem;

        .account__card{
            margin-top: 2rem;
            margin-left: 2rem;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;
            list-style-type: none;
            text-decoration: none;

            .account__card__item {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.9rem;
                width: all;
                list-style-type: none;
                text-decoration: none;
                a {
                    color: white;
                    display: flex;
                    gap: 0.8rem;
                    transition: 0.5s ease-in-out;
                    &:hover {
                        text-decoration: none;
                    }
                    cursor: pointer;

                }         
                &:hover {
                    transform: scale(1.1);
                    
                }
            }          
        }
        .account__info{
            gap: 4rem;
            color : white;
            grid-column-end: 2;
            grid-column-start: 1;
        }
        .account__container {
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 0rem 1rem 1rem 0rem;
            padding: 3rem;
            color: black;
            @include profilestyle;
            .buy__btn {
                display: flex;
                justify-content: center;
                gap: 2rem;
                margin-top: 1rem;
                #cancel {
                    &:hover {
                        color: white;
                        background-color: rgb(255, 0, 0);
                    }
                }
            }
        }
    }
    .account__info__title {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .account__info__container {
        gap: 2rem;
        color : white;
        background-color: #202040;
    }
    
    .account__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        input {
            border-radius: 1vw;
            height: 2vh;
            width: 10vw;
            padding: 1vw;
            border: none;
            background-color: white;
            &:focus{
                outline: none;
            }
        }
        .account__card__header {             
            color: blue;
            display: flex;
            flex-direction: row;
            button {
                border-radius: 2vw;
                padding: 0.2rem 3em;
                border: none;
                
            
                
            }
            

        }
    }
    .account__options__list {
        background-color: #202040;
        display:flex;
        flex-direction:row;
        gap: 3rem;
        align-items: center;
        font-size: small;
        outline: none;
        #list {
            &:hover {
                color: white;
                background-color: rgb(255, 102, 0);
            }
        }
    }
    ul {
        text-decoration: none;
        list-style: none;
    } 
}

