@mixin sendstyle {
    button{
        border-radius: 2rem;
        padding: 0.6rem 1.6rem;
        background-color: transparent;
        color: white;
        font-weight: 300;
        border: none;
        
        &:hover {
            color: white;
            background-color: rgb(40, 255, 40);
            transform: scale(1.1);
        }
    }
    .market__info{
        gap: 4rem;
        color : white;

    }
    .market__info__title {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .market__info__container {
        gap: 2rem;
        color : white;
        background-color: #202040;
    }
    .buy__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        input {
            border-radius: 1vw;
            height: 2vh;
            width: 10vw;
            padding: 1vw;
            border: none;
            background-color: white;
            &:focus{
                outline: none;
            }
        }
        .buy__card__header {             
            color: blue;
            display: flex;
            flex-direction: row;
            button {
                border-radius: 2vw;
                padding: 0.2rem 3em;
                border: none;
                
            div {
                display: flex;
                flex-direction:row;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 2rem;
                gap: 4rem;
                
            }
                
            }
            

        }
    }
    .buy__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #202040;
        height: 15rem ;
        width: 100%;
        border-radius: 0.5rem;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        .buy__btn {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 1rem;
            #cancel {
                &:hover {
                    color: white;
                    background-color: rgb(255, 0, 0);
                }
            }
        }
    }
    .market__info__list {
        background-color: #202040;
        display:flex;
        flex-direction:row;
        margin: 0.4rem;
        gap: 3rem;
        padding: 1rem 1rem;
        align-items: center;
    }
    .send__list {
        background-color: #202040;
        display:block;
        flex-direction:row;
        gap: 3rem;
        align-items: center;
        font-size: small;
        outline: none;
        li {
          display: block;
        }
        #list {
          display:block;
            &:hover {
                color: white;
                background-color: rgb(255, 102, 0);
            }
        }
    }
    ul {
        text-decoration: none;
        list-style: none;
    }
    .slideUp {
        animation-name: slideUp;
        -webkit-animation-name: slideUp;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        visibility: visible !important;
      }
      
      @keyframes slideUp {
        0% {
          transform: translateY(100%);
        }
        50% {
          transform: translateY(-8%);
        }
        65% {
          transform: translateY(4%);
        }
        80% {
          transform: translateY(-4%);
        }
        95% {
          transform: translateY(2%)
        }
        100% {
          transform: translateY(0%);
        }
      }
      
      @-webkit-keyframes slideUp {
        0% {
          -webkit-transform: translateY(100%);
        }
        50% {
          -webkit-transform: translateY(-8%);
        }
        65% {
          -webkit-transform: translateY(4%);
        }
        80% {
          -webkit-transform: translateY(-4%);
        }
        95% {
          -webkit-transform: translateY(2%);
        }
        100% {
          -webkit-transform: translateY(0%);
        }
      }
      
     
}

